[Unit]
Description=Inzown button daemon

[Service]
ExecStart=/usr/bin/inzown-btn --conf /etc/inzown/button/inzown-btn.conf

[Install]
WantedBy=multi-user.target 
