Source: inzown-btn
Section: electronics
Priority: extra
Maintainer: Claude N. Warren, Jr. <claude@cuimhneceoil.ie>
Rules-Requires-Root: no
Standards-Version: 4.4.1
Homepage: https://github.com/CuimhneCeoil/

Package: inzown-btn
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: libc6 
Description: Inzown Button daemon.
 See https://inzown.com for more information.
